<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/process}" th:object="${job}" method="post">

    Title: <input type="text" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br>

    Employer: <input type="text" th:field="*{employer}">
    <span th:if="${#fields.hasErrors('employer')}"
          th:errors="*{employer}"></span><br>

    Description: <input type="text" th:field="*{description}">
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>